* {
    font-family: 'Lato', sans-serif;
}
#gifts-container {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.TOP {
    font-size: .75rem;
    line-height: 1rem;
    color: #333;
    font-weight: bold;
}
.link-text {
    display: block;
    font-family: Trade Gothic W01 Light,Arial,sans-serif;
    font-weight: 400;
    font-size: .875rem;
    line-height: 20px;
    line-height: 1.25rem;
    color: #767676;
    cursor: pointer;
}
.link-text:hover {
    color: #005699;
}
.gifts-box2 {
    width: 80%;
}
.top-head-text{
    display: block!important;
    opacity: 1!important;
    position: relative;
    top: 3px;
    line-height: 1.3125rem;
    color: #333;
    font-size: 1.5rem;
    font-weight:lighter;
}
.hr-margin {
    margin-top: 15px;
}
.hr-img {
    width: 100%;
    margin-top: 20px;
}
.gift-img-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px auto;
}
.gift-img-box-img {
    width: 100%;
    cursor: pointer;
}
.gift-buttons {
    background-color: #fabecc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: -4px;
}
.gift-buttons>button {
    margin: 16px;
    padding: 10px 24px;
    border: 0px;
    letter-spacing: .5px;
    font-size: 14px;
    cursor: pointer;
}
.gifts-heding {
    font-size: 1.8rem;
    text-transform: none;
    font-weight: 100;
    line-height: 1.125;
    margin: 20px;
    margin-top: 90px;
    color: #333;
}
.gifts-para {
    font-size: 1rem;
    line-height: 1.75;
    color: #666;
    margin: 20px;
    display: block;
    width: 78%;
}